/***********************************************

                    HOMEPAGE

*************************************************/

div.section-main{
  width: 100%;
  height: 500px;
  background-color: $grey-color-light;
  background-image: url('../images/wCloud.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
div.section-main-layer{
  background-color: rgba(101,190,180,.6);
  width: inherit;
  height:inherit;
}
div.section-action{
  width: 100%;
  height: 200px;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-user-select: center;
  -moz-user-select: center;
  -ms-user-select: center;
  -o-user-select: center;
  user-select: center;
  margin: 0;
}
div.section-action-child-left,
div.section-action-child-right{
  width: 40%;
  height: 6em;
  background-color: rgba(0,0,0,.2);
  margin: 0 auto;
  text-align: center;
}
div.section-action a{
  display: inline-block;;
  margin-top: 1em;
  font-size: 24px;
}

div.section-meet{
  width: 100%;
  height: 500px;
  background-image: url('../images/cpu.jpg');
  background-size: 15em 15em;
  margin: 0;
  text-align: center;
}
div.section-meet-layer{
  overflow: auto;
  width: inherit;
  height: inherit;
  background-color: rgba(101,190,180,.9);
}
div.section-meet p{
  font-size: 2em;
  color: #fff;
  margin: 3em auto 1em;
  width: 70%;
}
div.section-meet a{
  font-size: 1.5em;
}


/***********************************************

                    ABOUT

*************************************************/
div.about-header{
  height: 5em;
  line-height: 5em;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
div.about-header h2{
  padding-left: 2em;
  font-size: 2em;
  font-weight: 300;
}
div.clark-kent img{
  display: block;
  margin: 2em auto 1em;
}
h3.clark-kent{
  font-size: 2em;
  text-align: center;
}
div.about-main{
  width:100%;
  height: 350px;
}
div.about-main-left ul{
  text-align: right;
  list-style-type: none;
  color: rgba(130,130,130,.7);
  text-transform: uppercase;;
}
div.about-main-left{
  width: 30%;
}
div.about-main-right{
  width: 60%;
  vertical-align: top;
  padding-left: 1em;
}
div.about-main-right,
div.about-main-left{
  display: inline-block;
  margin: 0 auto;
}
/***********************************************

                    PORTFOLIO

*************************************************/
section.section-about{
  width: 70%;
  margin: 3em auto;
  text-align: center;
}
div.about-row{
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin: 1em 0;
}
div.project{
  margin: 1em;
  display: inline-block;
  height: 200px;
  flex: 1;
}
div.project-pic{
  width: inherit;
  height: inherit;
}
div.project h3{
  font-size: 1.5em;
  margin: 0;
  display: inline-block;
}
div.project p{
  display: inline-block;
}
