/***********************************************

                    RESUME WEB

*************************************************/
$title-font: Helvetica, Arial, sans-serif;

div.resume-wrapper{
  @include type-setting(0);
  width: 70%;
  margin: 2em auto;
  h2{
    text-align: center;
    font-weight: 300;
    margin: 1em 0;
  }
  h3{
    text-decoration: underline;
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
div.resume-wrapper h2,
h3{
  @include type-setting(0);
  font-family: $title-font;
}
/*************   SKILLS  *****************/

div.skills ul li:first-of-type{
  margin-top: 0;
}
li.skills-li{
  position: relative;
  margin: 2.5em 0;
}
li.skills-li aside{
  position: absolute;
  top: 0;
  right: 0;
  width: 55%;
}

/***************  WORK ***************/

li.work-exp-li,
li.education-li{
  margin: 1em 0;
}
li.work-exp-li p.title{
  @include type-setting(-1);
  font-weight: 600;
  font-family: $title-font;
  margin-bottom: .75em;
}
li.work-exp-li > p,
li.work-exp-li > h3,
 li.education-li > h3{
  @include type-setting(0);
  margin: 0;
}

/************************************/

div.objective,
div.skills,
div.experience,
div.education,
div.web-experience,
div.work-experience
{
  border-bottom: 1px solid black;
}
/***********************************************

                    MEDIA QUERIES

*************************************************/
@media (max-width: 1200px){
  li.skills-li{
    margin: 3em 0;
  }
}
@media (min-width: 700px){
  div.work-experience ul.prmi-ul p{
    margin: .25em 0;
  }
}

@media (max-width: 960px){
  div.skills,
  .resume-wrapper h3,
  p.title{
    text-align: center;
  }
  li.skills-li,
  li.skills-li aside{
    position: static;
    width: 100%;
  }
  li.skills-li{
    margin: .5em 0;
  }
}
