/***********************************************

                    HOMEPAGE

*************************************************/
body{
    @include type-setting(0);
}

div.section-main{
  width: 100%;
  text-align: center;

  img{
    margin: $base-line-height*3 0;
  }
}
#tagline{
  text-align: center;
  color: #000;
}
div.section-main-layer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 600px;
  background:
      /* top, transparent, faked with gradient */
  -webkit-linear-gradient(#2e2e2e, rgba(63, 102, 135, 0.63),
  /* bottom, image */
  url('../images/alps.jpg'));
  background:
      /* top, transparent, faked with gradient */
  -webkit-linear-gradient(#2e2e2e, rgba(63, 102, 135, 0.63)),
      /* bottom, image */
  url('../images/alps.jpg');
  background:
      /* top, transparent, faked with gradient */
  -webkit-linear-gradient(#2e2e2e, rgba(63, 102, 135, 0.63)),
      /* bottom, image */
  url('../images/alps.jpg');
  background:
      /* top, transparent, faked with gradient */
  -webkit-linear-gradient(#2e2e2e, rgba(63, 102, 135, 0.63)),
      /* bottom, image */
  url('../images/alps.jpg');
  background:
      /* top, transparent, faked with gradient */
  -webkit-linear-gradient(#2e2e2e, rgba(63, 102, 135, 0.63)),
      /* bottom, image */
  url('../images/alps.jpg');
  background:
      /* top, transparent, faked with gradient */
  linear-gradient(#2e2e2e, rgba(63, 102, 135, 0.63)),
      /* bottom, image */
  url('../images/alps.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
div.main-display{
  width: 70%;
  margin: 7em auto;
  color: #e6e6e6;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
div.main-display > h1{
  font-size: 3em;
  font-family:sans-serif;
  line-height: initial;
}
div.main-display > h3{
  font-size: 1.5em;
}

a.learn_more {
  color: slategrey;
  margin-top: 1em;
  font-size: 1.5em;
  position: relative;
  cursor: pointer;

  &:hover{
    color: transparent;
  }

  &:before {
    position: absolute;
    left: 100px;
    width: 100%;
    content: "Learn More";
    color: transparent;
    -webkit-transition: all 1s;
    transition: all 1s;
  }

  &:hover:before {
    left: 0;
    color: #ccc;
  }

  &:after {
    position: absolute;
    right: 100px;
    width: 100%;
    content: "Learn More";
    color: transparent;
    -webkit-transition: all 1s;
    transition: all 1s;
  }

  &:hover:after {
    right: 0;
    color: #ccc;
  }

}


/********************ACTION********************/
div.section-action{
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: center;
  -moz-user-select: center;
  -ms-user-select: center;
  -o-user-select: center;
  user-select: center;
  a{
  @include type-setting(3);
  }
}
div.section-action-child-left,
div.section-action-child-right{
  font-weight: 500;
  letter-spacing: 1px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
/********************MEET********************/
div.section-meet{
  width: 100%;
  background-image: url('../images/cpu.jpg');
  background-size: 15em 15em;
  margin: 0;
  text-align: center;
  img{
    margin-top: 2em;
  }
  p{
  @include type-setting(2);
    color: #fff;
    margin: 1em auto;
    width: 70%;
  }
}
div.section-meet-layer{
  width: inherit;
  height: inherit;
  background-color: rgba(101,190,180,.9);
  a{
    display: block;
  }
}


/***********************************************

                    HEADER LINKS

*************************************************/
a.page-link,
a.site-title {
  text-shadow: 0 0 .5px rgba(0,0,0,.1);
  -webkit-transition: all .3s;
  transition: all .3s;
}

a.page-link:hover,
a.site-title:hover {
  color: rgba(255,255,255,0.7);
  font-weight: 100;
  letter-spacing: .3px;
}

/***********************************************

                    MEDIA QUERIRES

*************************************************/

@media (max-width: 800px){
  div.about-row{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.project{
    margin: 2em auto;
  }
}
@media (max-width: 600px){
  h3.clark-kent{
    display: none;
  }
  #tagline{
  @include type-setting(2);
    padding: 0 .5em 2em;
  }
  div.about-main-left{
    display: none;
  }
  div.about-main-right{
    display: block;
    width: 90%;

  }
  footer{
    text-align: center;
  }
}
/***********************************************

                    ANIMATION

*************************************************/

.animate {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes enter_left {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes enter_left {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.enter_left {
  -webkit-animation-name: enter_left;
  animation-name: enter_left;
}

@-webkit-keyframes enter_right {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes enter_right {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.enter_right {
  -webkit-animation-name: enter_right;
  animation-name: enter_right;
}
